
{% extends 'admindash/base.html' %}

{% block content %}

<div style="display: flex; flex-wrap: wrap;">
      <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Customers</h5>
          <p class="card-text">{{cust}}</p>
          <a href="{% url 'show_cust' %}" class="btn btn-primary">Customers List</a>
        </div>
      </div>

      <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Restaurant</h5>
          <p class="card-text">{{rest}}</p>
          <a href="{% url 'show_rest' %}" class="btn btn-primary">Restaurant List</a>
        </div>
      </div>


      <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Table Orders</h5>
          <p class="card-text">{{tord}}</p>
          <a href="{% url 'show_torder' %}" class="btn btn-primary">Order List</a>
        </div>
      </div>

      <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Take Away Orders</h5>
          <p class="card-text">{{pord}}</p>
          <a href="{% url 'show_porder' %}" class="btn btn-primary">Take Away List</a>
        </div>
      </div>


      <div class="card mt-3 ml-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Total Eranings</h5>
          <p class="card-text">15000</p>
          <h5 class="card-title">Current Month Eranings</h5>
          <p class="card-text">15000</p>
          <a href="#" class="btn btn-primary">All Details</a>
        </div>
      </div>



    </div>


{% endblock %}












