{% extends 'admindash/base.html' %}

{% block content %}
{% load static %}
<div class="mx-4 my-4" style="display: flex; flex-wrap: wrap;">
    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/LeelaPalace.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">LeelaPalace</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/ayodhya.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ayodhya</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/empire.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Empire</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/mcdonalds.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">McDonalds</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>

    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/sagar.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sagar</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>

    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/shantipriya.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ShantiPriya</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>

    <div class="card mx-2" style="width: 18rem;">
        <img src="{% static 'img/udupi.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Udupi</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Reserve Table</a>
        </div>
    </div>

</div>

{% endblock %}